<% provide(:title, "About") %>
<div class="pageHeadline" style="background-image:url('<%=image_url 'stay.jpg'%>'); width:100%;">
  <h2 style="color: #ffffff">About Me...</h2>
</div>
<section class="aboutWrapper">
  <section class="introSection">
    <h2>
      Hi, I'm Bechir!
      <br>
      Web Developer
      <br>
      <span>but it's not just a hobby...</span>
    </h2>
  </section>
  <section class="someWords">
    <div class="headline">Some words</div>
    <p>I'm final year computer Science & management student , i also work for <a href="http://www.webi-studio.com" target="_blank">Webi</a> as a Web Developer.Most of my time I am developing on Rails/PHP/CMS,but I like to go beyond my knowledge and pursuing my passion to continuously improve my skills and stay up-to-date with new methods and technology. I am convinced that this is a good thing to go beyond my comfort zone to see and understand how things work out.</p>
    <p>I specialize in creating websites that are user-friendly and built according to best-practice web standards to communicate a feeling of joy and comfort that shall invite the user to come back . The important thing is not to use the technology or the tool that I like most, but to use the one that meets best needed.</p>
    <p>I create this site to share what I learn, my findings and my experience.</p>
    <%= image_tag 'B logo.png', style:'display: block;margin-left: auto;margin-right: auto;max-width:100%'%>
  </section>
  <section class="likes">
    <div class="headline">Technologies</div><%@technologies.each do |t|%>
        <p><%=raw t.skill%>
        </p><%end%>
  </section>
  <section class="articleArchiv">
    <a href="https://twitter.com/bechirsegni" target="_blank" class="scrollDown LatestTweets">
      <i class="icon icon-twitter"></i>
    </a>
  </section>
</section>