<div class="pageHeadline" style="background-image:url('<%=image_url 'stay.jpg'%>'); width:100%;">
  <h2 style="color: #ffffff">About Me...</h2>
</div>

<section class="aboutWrapper">
  <section class="introSection">
    <h2>
      Hi, I'm Omar!<br>
      Web Developer<br>
      <span>but it's not just a hobby...</span>
    </h2>
  </section>
  <section class="someWords">
    <div class="headline">Some words</div>
    <p>Most of my time I am developing on PHP/MySQL, but I like to go beyond my knowledge and explore other technologies such as Ruby, Python, iOS Development. I am convinced that this is a good thing to go beyond his comfort zone to see and understand how things work out.</p>
    <p>I create and build websites to communicate a feeling of joy and comfort that shall invite the user to come back. For me, that means that not only graphical work, but also the fronted development like HTML &amp; (S)CSS, jQuery, and WordPress (backend, i know) are part of my field of activity. The development section is really important to me, because I thereby constantly improve my skills and stay up-to-date with new methods and technology. Moreover, it presents a good change to the design part.</p>
    <p>I create this site to share what I learn, my findings and my experience. It's not been made with Wordpress :D, so I talk about Drupal and develops almost all the time. Whether in my personal life and in my professional life to meet the needs of my clients, the important thing is not to use the technology or the tool that I like most, but to use the one that meets best needed.</p>
  </section>
  <section class="likes">
    <div class="headline">PROFESSIONAL SKILLS</div>
    <p>Hello</p>
  </section>
  <section class="articleArchiv">
    <a href="https://twitter.com/bechirsegni" target="_blank" class="scrollDown LatestTweets">
      <i class="icon icon-twitter"></i>
    </a>        </section>
</section>