<% provide(:title, "About") %>
<div class="pageHeadline" style="background-image:url('<%=image_url 'stay.jpg'%>'); width:100%;">
  <h2 style="color: #ffffff">About Me...</h2>
</div>
<section class="aboutWrapper">
  <section class="introSection">
    <h2>
      Hi, I'm Bechir!
      <br>
      Rails Developer
    </h2>
  </section>
  <section class="someWords">
    <div class="headline">Some words</div>
    <p>I'm final year student in computer Science & management , i also work for <a href="http://www.webi-studio.com" target="_blank">Webi</a> as a Web Developer.Most of my time I am developing on Rails/PHP/CMS,but i like to explore and pursuing my passion to continuously improve my skills and stay up-to-date with new methods and technologies.Going beyond my area of expertise and my comfort zone is a must for me as it helps me grow and learn more.</p>
    <p>I specialize in creating websites that are user-friendly and built according to best-practice web standards to communicate a feeling of ease and satisfaction that will lead the user to come back.From my humble experience, I have learnt that the essential thing is not to use the methods and techniques I am most comfortable with, but the one that meet the criteria needed by the user.</p>
    <p>Through this website, I seek to share with you my knowledge, findings and experience.</p>
    <%= image_tag 'B logo.png', style:'display: block;margin-left: auto;margin-right: auto;max-width:100%'%>
  </section>
  <section class="likes">
    <div class="headline">Technologies</div><%@technologies.each do |t|%>
        <p><%=raw t.skill%>
        </p><%end%>
  </section>
  <section class="articleArchiv">
    <a href="https://twitter.com/bechirsegni" target="_blank" class="scrollDown LatestTweets">
      <i class="icon icon-twitter"></i>
    </a>
  </section>
</section>