<div class="pageHeadline" style="background-image:url('<%=image_url 'mac.jpg'%>'); width:100%;">
  <h2><span style="color: #ffffff">My Skill Sets</span></h2>
</div>
<section class="aboutWrapper">
  <section class="experience">
    <div class="headline">working experience</div>
    <ul>
      <li>
        <div class="company">
          <h2>Red Bull Creative</h2>
          <h3>2015 — Current</h3>
        </div>
        <div class="position">
          <h2>Art Director &amp; Developer</h2>
          <a href="http://redbullcreative.com/">http://redbullcreative.com/</a>
        </div>
      </li>
      <li>
        <div class="company">
          <h2>Fork</h2>
          <h3>2012 — 2015</h3>
        </div>
        <div class="position">
          <h2>Art Director &amp; Developer</h2>
          <a href="http://fork.de">http://fork.de</a>
        </div>
      </li>
      <li>
        <div class="company">
          <h2>Freelancer</h2>
          <h3>2007 — Current</h3>
        </div>
        <div class="position">
          <h2>Designer &amp; Developer</h2>
          <a href="http://davidhellmann.com">http://davidhellmann.com</a>
        </div>
      </li>
      <li>
        <div class="company">
          <h2>nexum AG</h2>
          <h3>2010 — 2012</h3>
        </div>
        <div class="position">
          <h2>Designer</h2>
          <a href="http://nexum.de">http://nexum.de</a>
        </div>
      </li>
      <li>
        <div class="company">
          <h2>nexum AG</h2>
          <h3>2007 — 2010</h3>
        </div>
        <div class="position">
          <h2>Designer (Apprentice)</h2>
          <a href="http://nexum.de">http://nexum.de</a>
        </div>
      </li>
    </ul>
  </section>

  <section class="likes">
    <div class="headline">What i like</div>
    <p>
      Delicious food. <a href="http://bestwebsite.gallery">Good looking websites</a>. My Fuji X-Pro1. <a href="http://www.cannondale.com">Cannondale Bikes</a> &amp; <a href="http://www.specialized.com">Specialized Bikes</a>. Tattoos. <a href="http://www.apple.com">Apple Products</a>. Sneakers. Girls in Sneakers. Yogurt. T-Shirts. Wooden furniture. Mimi the Cat. My Vitra Chair. <a href="http://www.ugmonk.com">Ugmonk Products</a>. Sharp kitchen knifes. SSD hard drives. Holidays. Frozen fruits. Tennis socks! My iPhone. Beautiful apps. Football (playing and watchin). Potato chips. Cocktails. <a href="https://www.spotify.com/">Music</a>. DIY Stuff. Cooking. Poker (playing). Movies and documentaries. <a href="http://www.instagram.com/davidhellmann">Instagram</a>. And many other things :)
    </p>
  </section>
</section>