<footer class="websiteFooter">
  <section class="footerContent">
    <div class="shortInfo">
      © 2015 Bechir Segni. All rights reserved.
      <br>
      Run with Ruby on Rails / Made on Linux
      <br>
      Hit me up if you want to talk about your next project or stalk me in social networks.
      <br>
    </div>
    <ul class="socialIcons">
      <li>
        <a href="https://facebook.com/vansegni" target="_blank">
          <i class="icon icon-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/bechirsegni" target="_blank">
          <i class="icon icon-twitter"></i>
        </a>
      </li>
      <li>
        <a href="mailto:contact@bechirsegni.me" class="js_showContact" target="_blank">
          <i class="icon icon-bubbles"></i>
        </a>
      </li>
      <li>
        <a href="/about" >
          <i class="icon icon-user "></i>
        </a>
      </li>
    </ul>
  </section>
</footer>
<header class="websiteHeaderSticky">
  <nav class="websiteNav">
    <h1>
      <a href="/">Bechir Segni</a>
    </h1>
    <ul class="prim">
      <li>
        <a href="/about">About Me</a>
      </li>
      <li>
        <a href="/articles">Blog</a>
      </li>
      <li>
        <a href="/resume">Resume</a>
      </li>
      <li>
        <a href="/projects">Projects</a>
      </li><%if user_signed_in?%>
          <li><%= link_to 'Logout', logout_path%>
          </li><%end%>
      <li>
        <a href="mailto:bechirsegni@gmail.com" class="js_showContact">
          <i class="icon icon-bubbles"></i>
        </a>
      </li>
      <li>
        <a href="#--search" class="js_showSearch">
          <i class="icon icon-search"></i>
        </a>
      </li>
    </ul>
    <ul class="mobile">
      <li>
        <a href="#mobileNav" class="js_showMobileNav">
          <i class="icon icon-menu"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
