
  <!-- start: pageHeader -->
  <header class="websiteHeader">
      <nav class="websiteNav">
    <h1>
      <a href="/">Bechir Segni</a>
    </h1>
    <ul class="prim">
      <li><a href="/about">About</a></li>
      <li><a href="/articles">Blog</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="mailto:bechirsegni@gmail.com" class="js_showContact"><i class="icon icon-bubbles"></i></a></li>
      <li><a href="#--search" class="js_showSearch"><i class="icon icon-search"></i></a></li>
    </ul>
    <ul class="mobile">
      <li><a href="#mobileNav" class="js_showMobileNav"><i class="icon icon-menu"></i></a></li>
    </ul>
  </nav>
</header>


<section class="searchBox js_searchBox">
  <form method="get" action="/search">
    <i class="icon icon-search"></i>
    <a href="#closeSearch" class="js_showSearch"><i class="icon icon-close"></i></a>
    <input placeholder="Search..." name="q" class="searchInput" id="s"><input type="submit" class="submit" value="Search">
  </form>
</section>

<div class="mobileNavWrapper">
  <nav class="navi">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/articles">Blog</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="mailto:bechirsegni@gmail.com" class="js_showContact"><i class="icon icon-bubbles"></i></a></li>
      <li><a href="#--search" class="js_showSearch js_hideMobileNav"><i class="icon icon-search"></i></a></li>
    </ul>
  </nav>
</div>
